/* Reset básico */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


/* Fundo da página */

body {
  background: #f5f5f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Container central */

.bigbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Card do formulário */

.form-box {
  background: #fff04d;
  border: 4px solid black;
  box-shadow: 10px 10px 0 black;
  padding: 70px;
  width: 520px;
  max-width:500px;
}


/* Formulário */

.login {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}


/* Inputs */

.login input {
  padding: 12px;
  border: 3px solid black;
  font-size: 16px;
  outline: none;
}


/* Inputs focados */

.login input:focus {
  background: #fff;
  box-shadow: 4px 4px 0 black;
}


/* Botão */

#entrar {
  padding: 12px;
  background: #4DA6FF;
  border: 4px solid black;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 6px 6px 0 black;
  transition: 0.15s;
  color: white;
}


#entrar:hover{
transform: translateY(-2px);
box-shadow: 10px 10px 0 black;
}

/* Clique botão */

#entrar:active {
  transform: translate(4px, 4px);
  box-shadow: 2px 2px 0 black;
}


/* Mensagem de login */

#mensagemLogin {
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
}

.form-box{
display:flex;
flex-direction:column;
height:100%;
}

.registro-link{
margin-top:auto;
text-align:left;
font-size:16px;
}

.registro-link a{
color:#ff2f7d;
text-decoration:none;
font-weight:700;
}

.registro-link a:hover{
text-decoration:underline;
}

@media(max-width: 1024px) {

}

.form-box {
  background: #fff04d;
  border: 4px solid black;
  box-shadow: 7px 7px 0 black;
  padding: 50px;
  width: 90%;
}