body{
background:#f5f5f5;
font-family:system-ui, sans-serif;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
margin:0;
padding:20px;
overflow-x:hidden;
}

.resultado-box{

background:#fff04d;
border:6px solid black;
box-shadow:14px 14px 0 black;
justify-content:center;
align-items:center;
padding:50px;
max-width: 500px;
text-align:center;
margin: 20px auto;


}

.resultado-box h1{

font-size:35px;
margin-top: 10px;

}

.resultado-box p{

font-size:22px;
font-weight:700;
margin-bottom:15px;

}

#pontuacao{
  font-size:26px;
}

#nivel{
  display:inline-block;
  background:black;
  color:white;
  padding:6px 14px;
  margin-top:10px;
  border-radius:6px;
}

#mensagem{
  max-width:420px;
  margin:25px auto;
  font-size:20px;
  line-height:1.5;
  text-align:center; 
}



.correto::after{
content:" ✔";
color:green;
margin-left:6px;
}

.errado::after{
content:" ✖";
color:red;
margin-left:6px;
}

.botoes{

margin-top:60px;
display:flex;
gap:20px;
justify-content:center;

}

.btn{

text-decoration:none;
background:#4DA6FF;
border:4px solid black;
padding:12px 20px;
font-size: 18px;
font-weight:700;
justify-content:center;
color:black;
box-shadow:8px 8px 0 black;
transition:0.15s;

}

.btn:hover{

transform:translateY(-2px);
box-shadow:12px 12px 0 black;

}

.btn:active {
  transform: translate(4px, 4px);
  box-shadow: 2px 2px 0 black;
}

.ver-respostas{
margin-top:35px;
text-align:center;
font-size:14px;
}

.ver-respostas a{
color:#ff2f7d;
text-decoration:none;
font-weight:700;
}

.ver-respostas a:hover{
text-decoration:underline;
}

.barra-container{
  width:100%;
  height:22px;
  background:#ddd;
  border:3px solid black;
  margin:25px 0;
}

.barra{
  height:100%;
  width:0%;
  background:#4CAF50;
  transition:width 1s ease;
}

@media(max-width: 600px){

body{
padding:15px;
align-items:flex-start;
}

/* caixa */

.resultado-box{
padding: 25px;
width:calc(100% - 20px);
box-shadow:6px 6px 0 black; 
max-width:270px;
margin: 30px -30px;
}

/* título */

.resultado-box h1{
font-size:32px;
margin-top:25px;
}

/* textos */

.resultado-box p{
font-size:20px;
}

/* botões */

.botoes{
flex-direction:column;
gap:15px;
margin-left: 25px;
}

/* botões largura total */

.btn{
width:70%;
text-align:center;
font-size:17px;
padding:12px;
}

/* link */

.ver-respostas{
font-size:13px;
padding:0 10px;
}

}